<div class="col-xs-12 welcome_text">
      <h1>Welcome to PostHub</h1>
        <p>A Ruby Rails/AJAX Website to communicate with your coworkers!</p>
    </div>

    <div class='clearfix feature-images'>
        <div class="col-xs-12 col-sm-6 feature-images-col">
          <h3>See recently submitted posts</h3>
          <%= link_to image_tag('communication.jpg', :class => 'welcome_images img-circle img-responsive'), posts_path %>
        </div>
        <div class="col-xs-12 col-sm-6 feature-images-col">
          <h3>Respond to your coworkers</h3>
          <%= image_tag('media.jpg', :class => 'welcome_images img-circle img-responsive') %>
          <h3>On PostHub you can directly communicate with your team!</h3>
        </div>
    </div>

    <div class="col-xs-12 welcome_text">
      <h2>Sign up or log in now to start using this great app!</h2>
       <p>Sign in is located in the top left corner of the menu.</p>
    </div>
